@using TestApplication.Common.Dto.CustomerCardDtos

@model CustomerCardAddDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Explanation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priorty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DevId)
                </th>
              
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Explanation, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Priorty, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.DevId, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td>
                    <input class="btnAdd btn btn-default" type="button" name="name" value="Add" />
                </td>
                <td>
                    <input id="btnSubmit" type="button" value="Submit" class="btn btn-default" />
                </td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
}

@section scripts{
    <script>

    $(".btnAdd").click(function () {
        var td1 = '<td>@Html.EditorFor(modelItem => modelItem.Explanation, new { htmlAttributes = new { @class = "form-control" } })</td>';
        var td2 = '<td>@Html.EditorFor(modelItem => modelItem.Priorty, new { htmlAttributes = new { @class = "form-control" } })</td>';
        var td3 = '<td>@Html.EditorFor(modelItem => modelItem.DevId, new { htmlAttributes = new { @class = "form-control" } })</td>';
        
        $("tbody").append('<tr>' + td1 + td2 + td3 + '</tr>');
    });

    function getAllData() {
        var data = [];
        $('tbody tr').each(function () {
            var From = $(this).find('#From').val();
            var Date = $(this).find('#Date').val();
            var Department = $(this).find('#Department').val();
            var SerialNo = $(this).find('#SerialNo').val();
            var Description = $(this).find('#Description').val();
            var Quantity = $(this).find('#Quantity').val();
            var Reason = $(this).find('#Reason').val();
            var ExpectedReturnDate = $(this).find('#ExpectedReturnDate').val();
            var Recipient = $(this).find('#Recipient').val();
            var Type = $(this).find('#Type').val();
            var ApprovedBy = $(this).find('#ApprovedBy').val();
            var HeadOfDepartment = $(this).find('#HeadOfDepartment').val();
            var alldata = {
                'From': From,
                'Date': Date,
                'Department': Department,
                'SerialNo': SerialNo,
                'Description': Description,
                'Quantity': Quantity,
                'Reason': Reason,
                'ExpectedReturnDate': ExpectedReturnDate,
                'Recipient': Recipient,
                'Type': Type,
                'ApprovedBy': ApprovedBy,
                'HeadOfDepartment': HeadOfDepartment,
            }
            data.push(alldata);
        });
        console.log(data);
        return data;
    }

    $('#btnSubmit').click(function () {
        var data = JSON.stringify(getAllData());
        $.ajax({
            url: '/CustomerCard/SaveData',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ 'getepassdata': data }),
            success: function () {
                alert("Data Added Successfully");
            },
            error: function () {
                alert("Error while inserting data");
            }
        });
    });
    </script>
}